<h1>About Page</h1>
<%# Link to the Home Page and the articles page the root_path is the
  Home page path and the articles_path is the index path of the Article Resource %>
<%= link_to "Home Page", root_path %>
<%= link_to "Articles", articles_path %>
