// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.badge {
  background-color: #cef6f5;

  text-transform: uppercase;

  letter-spacing: -1px;

  font-weight: bold;
}

.input_checkbox input {
  width: auto !important;
}
