<div class="footer">
  <footer class="footer">
    <div class="container">
      <small>
        Copyright © <a href="http://projects.allerin.com/issues/108948">Application Development Training</a>
        by <%= link_to "Shubham Taywade", "http://projects.allerin.com/issues/108948" %>
      </small>
      <nav>
        <ul>
          <li><%= link_to "About", pages_about_path %></li>
        </ul>
      </nav>
    </div>
  </footer>
</div>
